<%= form_with(model: vinculo, local: true) do |form| %>
  <% if vinculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vinculo.errors.count, "error") %> prohibited this vinculo from being saved:</h2>

      <ul>
      <% vinculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
